# Compiled class file
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ
.idea/

# Eclipse
.classpath
.project
.settings/

# NetBeans
nbproject/
nb-configuration.xml

# JDeveloper
.jdeveloper/
jdev/

# Compiled Java
target/
out/

# Maven
log/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.nexus
release.properties
dependency-reduced-pom.xml

# Gradle
.gradle/
build/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini
